spring.application.name=SEAL_LAB
# MySQL ?? ??
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/seal_lab_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
spring.datasource.username=root
spring.datasource.password=YOUR_DATABASE_PASSWORD_HERE
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true

spring.jpa.properties.hibernate.format_sql=true

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
# 카카오맵 API 키
kakao.map.api.key=YOUR_KAKAO_MAP_API_KEY_HERE
admin.initial.password=YOUR_ADMIN_PASSWORD_HERE