<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.seal.seal_lab.infra.logging.DiscordAppender">
        <webhookUrl>https://discord.com/api/webhooks/1488823690794893312/I_UBmYJLeuSyrnk8gifooOLP23jGAI-aG5FAJP409TnsFz5bSs9tAq-Wh_C6btTbDAc-</webhookUrl>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD" />
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.apache.catalina" level="WARN" />

    <logger name="com.seal.seal_lab.SealLabApplication" level="WARN" />

    <logger name="com.seal.seal_lab" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_DISCORD" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_DISCORD">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
        </appender-ref>
    </root>
</configuration>